<section class="aurora-problem" data-section="rupture">

<p>Antes:</p>

<ul>
<li>Opinión</li>
<li>Agencias separadas</li>
<li>Decisiones fragmentadas</li>
</ul>

<p>Ahora:</p>

<ul>
<li>Modelado</li>
<li>Simulación</li>
<li>Evidencia</li>
</ul>

</section>
