---
import Container from "../ui/Container.astro";
import Section from "../ui/Section.astro";
import { home } from "../../content/home";
const { autoridad } = home;
---

<Section id="autoridad">
  <Container>
    <div class="reveal authority-block">
      <h2 class="section-title">{autoridad.title}</h2>
      <ul class="authority-list">
        {autoridad.bullets.map((line) => (
          <li>{line}</li>
        ))}
      </ul>
    </div>
  </Container>
</Section>
