---
import Container from "../ui/Container.astro";
import Section from "../ui/Section.astro";
import { home } from "../../content/home";
const { cambio } = home;
---

<Section id="cambio">
  <Container>
    <div class="reveal block-change">
      <h2 class="section-title">CAMBIO REAL</h2>
      {cambio.body.map((line) => (
        <p class="section-copy">{line}</p>
      ))}
    </div>
  </Container>
</Section>
