---
import Container from "../ui/Container.astro";
import Section from "../ui/Section.astro";
import { home } from "../../content/home";

const { change } = home;
---

<Section id="change" class="change-section">
  <Container>
    <div class="change-flow reveal">
      <h2 class="section-title">{change.title}</h2>
      <p class="change-lead">{change.lead}</p>
      <p class="section-copy">{change.body}</p>
    </div>
  </Container>
</Section>
