---
import Container from "../ui/Container.astro";
import Section from "../ui/Section.astro";
import { home } from "../../content/home";
const { autoridad } = home;
---

<Section id="autoridad" class="change-section">
  <Container>
    <div class="reveal authority-layout">
      <div class="authority-copy">
        <h2 class="section-title">{autoridad.title}</h2>
        <p class="authority-lead">{autoridad.lead}</p>
        <p class="section-copy">{autoridad.body}</p>
      </div>
    </div>
  </Container>
</Section>
