---
import Container from "../ui/Container.astro";
import Section from "../ui/Section.astro";
import { home } from "../../content/home";

const { rupture } = home;
---

<Section id="rupture" class="rupture-section">
  <Container>
    <div class="rupture-flow reveal">
      <h2 class="section-title">{rupture.title}</h2>
      <p class="rupture-line">{rupture.line}</p>
    </div>
  </Container>
</Section>
