---
import MainLayout from "../layouts/MainLayout.astro";
---

<MainLayout title="Aurora Demo" description="Demo de Aurora.">
  <main style="min-height: 100vh; display: grid; place-items: center; padding: 2rem;">
    <h1>Demo - INTACTO</h1>
  </main>
</MainLayout>
