---
---
<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Aurora</title>
    <link rel="stylesheet" href="/src/styles/global.css" />
  </head>
  <body>
    <header>AURORA</header>
    <main>
      <slot />
    </main>
  </body>
</html>
